rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // For attribute-based access control, Check a boolean `admin` attribute
    match /{document=**} {
      allow read, list, create, write, update, delete: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.admin == true;
    }
    // Alterntatively, for role-based access, assign specific roles to users
    match /euromillions-draws {
     allow list: if true
   }
    match /euromillions-draws/{document=**} {
     allow create, write, update, delete: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == "editor"
     allow read: if true
   }
   match /swisslotto-draws {
     allow list: if true
   }
   match /swisslotto-draws/{document=**} {
     allow create, write, update, delete: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == "editor"
     allow read: if true
   }
   match /users/{userId} {
     allow read: if request.auth != null && request.auth.uid == userId
   }
  }
}